{% extends '@CeradGame/Layout.html.twig' %}

{% block content %}
  {{ include('@CeradGame/Project/Results/Poolplay/ShowTwig/ResultsPoolplayShowSelect.html.twig') }}

  <h2 style="text-align: left;">
  GS=Goals Scored, SP=Sportsmanship, YC=Caution, RC=Sendoff, TE=Total Ejections, PE=Points Earned
  <br/><br />
  TPE=Points Earned, GP=Games Played, GW=Games Won, GA=Goals Against
  </h2>

{% for poolKey, pool in pools %}
  <hr style="border: 4px  ridge" />
  {{ include('@CeradGame/Project/Results/Poolplay/ShowTwig/ResultsPoolplayShowGames.html.twig') }}
  <hr style="border: 4px  ridge" />
  {{ include('@CeradGame/Project/Results/Poolplay/ShowTwig/ResultsPoolplayShowTeams.html.twig') }}
{% endfor %}

{% endblock %}
