/web/bundles/
/web/info.php

/app/sessions/*
/app/bootstrap*
/app/cache/*
/app/logs/*
/app/config/parameters.yml

/app/SymfonyRequirements.php
/app/check.php
/app/phpunit.xml

/vendor/
/vendor.zip
/composer.lock

/nbproject/private

/.sass-cache

/src/Acme/
/app/data/