{# @CeradTourn/Layout.html.twig #}
{% extends '@CeradTourn/Base.html.twig' %}

{% block stylesheetsx %}
<link rel="stylesheet" href="{# asset('bundles/ceradtourns/css/tourns.css') #}" media="all" />
{% endblock %}

{% block body %}
<div id="layout-body">
    
<div id="layout-userinfo">{# render(controller('CeradTournBundle:Tourn/UserInfo:show')) #}</div>

<div id="layout-content">{% block content %}{% endblock %}</div>

</div>
{% endblock %} {# end body block #}

