{# @CeradTourn/Layout.html.twig #}
{% extends '@CeradTourn/Base.html.twig' %}

{% block stylesheetsx %}
<link rel="stylesheet" href="{# asset('bundles/ceradtourns/css/tourns.css') #}" media="all" />
{% endblock %}

{% block layout_body %}
<div id="layout-body">
    
{% render(controller('CeradTournBundle:Tourn/TournHeader:render')) %}

<div id="layout-topmenu"> {# render(controller('CeradTournBundle:Tourn/UserInfo:show')) #}</div>
<div id="layout-userinfo">{# render(controller('CeradTournBundle:Tourn/UserInfo:show')) #}</div>

<div id="layout-content">{% block content %}{% endblock %}</div>

</div>
{% endblock %} {# end body block #}

