{# @CeradTourn/Tourn/Header/TournHeaderIndex.html.twig   #}

{% block layout_header %}
{% if cerad_tourn_show('layout_header') %}
<div id="layout-header"> 
<h3>Tournament: {{ project.desc }}</h3>
</div>
{% endif %}
{% endblock %}{# layout_header #}
