{% extends '@CeradGame/Layout.html.twig' %}

{% block content %}
{% if shows['select'] %}
{{ include('@CeradGame/Project/Results/Poolplay/Show/Twig/ResultsPoolplayShowSelect.html.twig') }}
{% endif %}

{% if shows['help'] %}
<h2 style="text-align: left;">
GS=Goals Scored, SP=Sportsmanship, YC=Caution, RC=Sendoff, TE=Total Ejections, PE=Points Earned
<br/><br />
TPE=Points Earned, GP=Games Played, GW=Games Won, GA=Goals AgainstXXX
</h2>
{% endif %}

{% for poolKey, pool in pools %}
  {% if shows['games'] %}
  <hr style="border: 4px  ridge" />
  {{ include('@CeradGame/Project/Results/Poolplay/Show/Twig/ResultsPoolplayShowGames.html.twig') }}
  {% endif %}
  {% if shows['teams'] %}
  <hr style="border: 4px  ridge" />
  {{ include('@CeradGame/Project/Results/Poolplay/Show/Twig/ResultsPoolplayShowTeams.html.twig') }}
  {% endif %}
{% endfor %}

{% endblock %}
