{# @CeradTourns/Welcome/list.html.twig   #}

<h3>Signup For Tournament</h3>
<ul class="tournaments-list">
{% for project in projects %}
{% if  project.status == 'Active' %}
    <li style="margin-bottom: 4px;">
        <a href="{{ path('cerad_tourns_index', { 'slug': project.slug }) }}"
        >{{ project.desc }}</a>
    </li>
{% endif  %}
{% endfor %}
</ul>
